{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Дворцовый стиль. Курсы антикваров в Санкт-Петербурге</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Компания Логунов и КО предлагает курсы антикваров в городе Санкт-Петербург. Курс содержит материал по истории искусств, реставрации мебели и информацию о том как не попасть на подделку.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/antiques.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link rel="canonical" href="https://place-style.ru/pages/antiques.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>

</head>
<body>
{% include 'menu.html' %}

<div class="content">
    <div class="head_line">
        <p>Курсы антиквариата</p>
    </div>
    <hr/>
    <div class="text">

        <div class="paragraph">
            <p>Разъяснения по плану занятий за ак/ час.</p>
            <p class="p_padding_l p_padding_t"><span class="selection">Теория искусств</span> – <span class="price">6 000 р</span>
            </p>
            <p class="p_padding_l">Широкая тема, которая составляет 2 семестра института Культуры. Можно сделать сжатую
                форму, но это может сделать человек со степенью,
                а у такого индивидуальная лекция 3000 час.</p>
            <p class="p_padding_l">Нужно часа 2, сюда войдёт история и частично современное искусство.</p>
        </div>

        <div class="paragraph">
            <p class="p_padding_l p_padding_t"><span class="selection">Реставрация</span></p>
            <div class="list">
                <ul>
                    <li><p>Картины</p></li>
                    <li><p>Мебель</p></li>
                    <li><p>Одежда</p></li>
                    <li><p>Оружие</p></li>
                </ul>
            </div>
            <p class="p_padding_l p_padding_t"><span class="selection">Атрибуция антиквариата</span></p>
            <p class="p_padding_l">Тему нужно раскрыть, что именно хочется узнать и на это составляется персональный
                план занятий.</p>
        </div>

        <div class="paragraph">
            <div class="p_padding_l p_padding_t"><span class="selection"> Оценка и экспертиза </span></div>
            <div class="list">
                <ul>
                    <li><p>Живопись западной Европы и России - <span class="price">1 час 3 000 руб</span></p></li>
                    <li><p>Фарфор и керамика - <span class="price">1 час 1000 руб</span></p></li>
                    <li><p>Художественное стекло – что именно - <span class="price">1 час 3 000 руб</span></p></li>
                    <li><p>Ювелирные изделия, оружие, камни, предметов военного дела - <span class="price">1 час 1000 руб</span>
                    </p></li>
                    <li><p>Книги всех времён и разных стран, книжная графика - <span class="price">1 час 1000 руб</span>
                    </p></li>
                    <li><p>Все направления антиквариата(что нам известно) - <span class="price">1 час  1000 руб</span>
                    </p></li>
                    <li><p>Принципы коллекционирования - <span class="price">1 час 1000 руб</span></p></li>
                    <li><p>Основы галерейного и музейного дела - <span class="price">1 час 3 000 руб</span></p></li>
                    <li><p>Виды подделок, махинации, мошенничество - <span class="price">1 час 1000 руб</span></p></li>
                    <li><p>Холодное оружие по исторической ценности - <span class="price">1 час 3 000 руб </span></p>
                    </li>
                    <li><p>Продажа ценностей - <span class="price">1 час 1000 руб</span></p></li>
                </ul>
            </div>
        </div>

        <div class="paragraph">
            <div class="p_padding_l"><p><span class="tbold">Менеджмент  и маркетинг</span> – перед началом занятий
                оговариваем тему и объём - <span class="price">1000 руб/час</span><br></p></div>
        </div>

        <div class="paragraph">
            <div class="p_padding_l"><p>Стоимость услуги зависит от того,кто будет преподавать. Действующие учёные стоят
                дороже, а простой преподаватель с этим не справится.
                Там где 1000 руб/ час это люди которые сами занимались антиквариатом и делятся своим опытом и знаниями,
                который покупает и продаёт разные антикварные вещи.</p></div>
            <div class="p_padding_l"><p>При стоимости 3000 можно заказать от 2-х часов. </p></div>
            <div class="p_padding_l"><p>При стоимости 1000 нужно от 4-х часов. </p></div>
        </div>

        <div class="paragraph">
            <p class="p_padding_l p_padding_t"><span class="selection">Темы занятий по книгам</span></p>
            <p class="p_padding_l p_padding_t"> Книги представляющие ценность</p>
            <div class="list">
                <ul>
                    <li><p>Какие книги считать старыми; антикварными; ценными</p></li>
                    <li><p>Книги с гравюрами; рисунками</p></li>
                    <li><p>Редкие авторские книги</p></li>
                    <li><p>Определение стоимости книги по автору; году издания; внешнему виду</p></li>
                    <li><p>Что резко снижает стоимость книги</p></li>
                    <li><p>Открытки, фотографии - до и после революции</p></li>
                    <li><p>Плакаты, призывные транспаранты</p></li>
                    <li><p>Плакаты, призывные транспаранты</p></li>
                    <li><p>Как определить цену покупки и цену продажи</p></li>
                </ul>
            </div>
        </div>

        <div class="paragraph">
            <p class="p_padding_l p_padding_t"><span class="selection">Мошенничество в антикварном деле</span></p>
            <p class="p_padding_l">Виды обмана( с цепочкой, картинами, подделки украшений от Фаберже), определение
                подлинности картины( знакомые художники, по внешнему виду, известный автор и известный сюжет),
                подделки монет из Польши и Китая. Можно ли определить фальсификат или нет. Есть ли подделки бумажных
                денег.</p>
            <div class="list">
                <ul>
                    <li><p>Литьё, цветные металлы, серебро, бронза, золото. изделия из этих металлов</p></li>
                    <li><p>Старинные брюлики - какие они были, как и по какому признаку определить, что это старинный
                        бриллиант</p></li>
                    <li><p>Какие бывают фальшивки и как их можно определить визуально, а какие требуют экспертизы</p>
                    </li>
                    <li><p>Старая мебель, старая посуда, фарфор, музыкальные инструменты</p></li>
                    <li><p>Предметы быта: скатерти, пепельницы, чернильницы и.т.д.</p></li>
                    <li><p>Веера, жалюзи, шторки</p></li>
                    <li><p>Старые бутылки до и после революции</p></li>
                    <li><p>Старые предметы быта деревни, старый инструмент</p></li>
                    <li><p>Оружие до и после революции, оружие ВОВ</p></li>
                    <li><p>Холодное оружие до и после революции, офицерские кортики</p></li>
                    <li><p>Утюги, прялки, веретено, гладильные доски, стиральные доски</p></li>
                    <li><p>Инструменты кузнеца, плотника</p></li>
                    <li><p>Быт деревни: жернова, ухваты, керосинки, маслобойки, кувшины из глины</p></li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург, ул. Мясная, д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273, к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948,
                ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93 тел офиса: 495-30-54; с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
