{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Дворцовый стиль. Курсы по обучению кузнечному ремеслу в Санкт-Петербурге</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Компания Логунов и КО предлагает курсы кузнечного ремесла в городе Санкт-Петербург. Курс содержит материал благодаря которому любой сможет освоить кузнечного ремесло с нуля. Занятия проводятся в кузнеце с личным наставником.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/blacksmith.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link rel="canonical" type="text/css" href="https://place-style.ru/pages/blacksmith.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
</head>
<body>
{% include 'menu.html' %}

<div class="content">
    <div class="head_line">
        <p>Курсы кузнецов</p>
    </div>
    <hr/>
    <div class="text">
        <div class="paragraph">
            <p class="p_padding_t"><span class="selection">Художественная ковка</span></p>
        </div>

        <div class="paragraph">
            <p><span class="tbold">Курсы для желающих освоить кузнечное дело с полного нуля</span></p>
            <p class="p_padding_l">Приглашаем всех желающих освоить кузнечное ремесло. Занятия проходят в кузне с
                первого дня и до полного окончания. Все занятия индивидуальны.
                Ученик все свои действия делает вместе с наставником. Время занятий оговаривается с каждым учеником
                индивидуально.
                Это могут быть утренние или вечерние занятия, это могут быть уроки выходного дня.</p>
        </div>

        <div class="paragraph">
            <p class="p_padding_l">На наши занятия приходят юноши и девушки, девочки и мальчики, мужчины и женщины. Эти
                уроки доступны всем возрастам и не зависят от вашего физического состояния.</p>
        </div>

        <div class="paragraph">
            <p class="p_padding_l">В самой кузне собираются истинные романтики, которые давно мечтали научиться творить
                красоту из металла, делать ножи и мечи, делать розы и предметы интерьера и.т.д.
                Ни кто ни кому не мешает. Очень дружелюбная атмосфера помогает лучше освоиться и быстрее освоить
                ремесло.</p>
        </div>

        <div class="paragraph">
            <p class="p_padding_t"><span class="selection">Основные темы занятий</span></p>
        </div>

        <div class="paragraph">
            <div class="list">
                <ul>
                    <li><p>Техника безопасности</p></li>
                    <li><p>Подготовка горна к работе, разжигание угля</p></li>
                    <li><p>Разогрев металла и подготовка металла к обработке</p></li>
                    <li><p>Растяжка металла, технология работы с разогретым металлом</p></li>
                    <li><p>Изготовление гвоздей</p></li>
                    <li><p>Изготовление подковы</p></li>
                    <li><p>Изготовление кузнечных клещей</p></li>
                </ul>
            </div>
        </div>

        <div class="paragraph">
            <p class="p_padding_l">На этом заканчивается первый этап обучения.</p>
            <p class="p_padding_l">Стоимость первого этапа обучения <span class="price">32 000 рублей из расчёта 1 000 рублей за 1 ак/ час</span>
                обучения.</p>
            <p class="p_padding_l">В стоимость обучения входит стоимость материала и з/п преподавателя.</p>
        </div>

        <div class="paragraph">
            <p class="p_padding_l">После первого этапа можно продолжать самостоятельное освоение полученных навыков в
                этой кузне или заказать второй этап обучения – художественная ковка.</p>
        </div>

        <hr>

        <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург, ул. Мясная, д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273, к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948,
                ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93 тел офиса: 495-30-54; с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
        </div>

    </div>
</div>

{% include 'footer.html' %}
</body>
</html>
