<div class="content">
    <div class="courses" id="courses">
        <p>Наши курсы</p>

        <div class="courses_block_wrapper">
            <div class="courses_block" onclick="location.href='{% url 'farmer' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon7.png" alt="icon5">
                    <p>Курсы фермеров</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'home' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon6.png" alt="icon6">
                    <p>Курсы каркасного строительства домов</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'blacksmith' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon4.png" alt="icon7">
                    <p>Курсы кузнецов</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'foreman' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon2.png" alt="icon8">
                    <p>Курсы прорабов</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'antiques' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon3.png" alt="icon9">
                    <p>Курсы антиквариата</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'stove' %}'">
                <div class="block_wrapper">
                    <img src="/static/images/block/icon1.png" alt="icon10">
                    <p>Курсы печников</p>
                </div>
            </div>
            <div class="courses_block" onclick="location.href='{% url 'electrician' %}'">
                <div class="block_wrapper">
                    <img src="static/images/block/icon5.png" alt="icon11">
                    <p>Курсы по электромонтажу</p>
                </div>
            </div>
        </div>

        <div class="slider">
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image1"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы фермеров</span>
                        <p>
                            Предприятие ООО «Логунов и Компания» проводит
                            консультационные услуги по организации фермерского хозяйства
                            на основании личного опыта. Эти знания нужны начинающим
                            фермерам, которые хотят переехать в деревню и вести там
                            хозяйство и иметь с этого доход на свои нужды.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>9000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Краткий курс</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>25000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Усиленный курс</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>39000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Полный курс</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image2"></div>
                    <div class="slide_text">
                  <span class="course_name"
                  >Курсы по каркасному строительству домов</span
                  >
                        <p>
                            По окончании курсов вы сможете в трое сократите стоимость
                            строительства вашего дома по сравнению с тем, если бы вы
                            заказали такое же в любой фирме. Отличная возможность
                            научиться строить себе жильё, не прибегая к помощи
                            сомнительных компаний это может ваша новая профессия с
                            отличным заработком.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>32000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Стоимость обучения</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>40000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Только практика по основам домостроения</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>10000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Одноразовый выезд</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>20000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Краткий курс по всем темам</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image3"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы кузнецов</span>
                        <p>
                            Приглашаем всех желающих освоить кузнечное ремесло. Занятия
                            проходят в кузне с первого дня и до полного окончания. Все
                            занятия индивидуальны. Ученик все свои действия делает
                            вместе с наставником. Время занятий оговаривается с каждым
                            учеником индивидуально. Это могут быть утренние или вечерние
                            занятия, это могут быть уроки выходного дня.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>32000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Первый этап курса</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image4"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы прорабов</span>
                        <p>
                            Данные Курс даёт возможность научиться руководить
                            коллективом работников, правильно оформлять трудовые
                            отношения и справедливо устанавливать размер заработной
                            платы для сотрудников. Определять степень квалификации
                            наёмных специалистов, которые задействованы при производстве
                            работ.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>20000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Краткий курс</p>
                            </div>
                        </div>
                        <div class="slide_price">
                            <div class="price">
                                <p>32000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Полный курс</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image5"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы антиквариата</span>
                        <p>
                            Широкая тема, которая составляет 2 семестра института
                            Культуры. Можно сделать сжатую форму. Реставрация картин,
                            мебели, одежды, оружия и.т.д. Атрибуция антиквариата. Тему
                            нужно раскрыть, что именно хочется узнать и на это
                            составляется персональный план занятий.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>6000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Теория искусств</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image6"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы печников</span>
                        <p>
                            Предприятие даёт возможность ученику собирать печи на
                            реальном объекте загородного строительства. Ученику пройти
                            полный путь от теории до сборки печи, включая трубу
                            дымохода. Только такое обучение является полным и ничего
                            подобно сделать ни в каком классе нельзя. На нашем объекте
                            можно самостоятельно выложить печь и испытать её на предмет
                            равномерного прогревания стенок печи и проверить время
                            удержания тепла т.е. провести полное испытание своей печи.
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>32000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Полный курс обучения</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider_grid">
                    <div class="slide_image7"></div>
                    <div class="slide_text">
                        <span class="course_name">Курсы по обучению электромонтажу</span>
                        <p>
                            Курсы по электрике готовят квалифицированных специалистов
                            для строительной и ремонтной отраслей, удовлетворяя
                            возросший в последнее время спрос на эту специальность. По
                            окончании курсов ученик сразу готов к самостоятельной
                            работе. Данный обучающий курс является базовым и не требует
                            от слушателей наличия каких-либо начальных знаний и навыков
                            в данной области. Обучение на электромонтажников начнется
                            для слушателей с самых азов данного ремесла
                        </p>
                    </div>
                    <div class="slide_link">
                        <span class="link"><a href="{% url 'index' %}">Подробнее...</a></span>
                    </div>
                    <div class="price_wrapper">
                        <div class="slide_price">
                            <div class="price">
                                <p>23000 руб.</p>
                            </div>
                            <div class="price_text">
                                <p>Полный курс обучения</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services" id="services">
        <p class="services_p">Наши услуги</p>
        <p class="services__text">
            Мы выполняем как простые ремонты, так и делаем любой эксклюзив. Мы
            делаем многое такое, что не может никто в нашей стране. Но главное,
            что многое сделанное нами только в одном экземпляре и ни у кого
            другого такого нет.
        </p>
    </div>

    <div class="works" id="works">
        <p>Наши работы</p>
        <div class="sl">
            <div class="sl__slide"><img src="/static/images/slick/1.JPG" alt="sliderimg1"/></div>
            <div class="sl__slide"><img src="static/images/slick/2.JPG" alt="sliderimg2"/></div>
            <div class="sl__slide"><img src="static/images/slick/3.jpg" alt="sliderimg3"/></div>
            <div class="sl__slide"><img src="static/images/slick/4.jpg" alt="sliderimg4"/></div>
            <!-- <div class="sl__slide slide5"><img src="image/slick/5.JPG" alt="" /></div> -->
        </div>
    </div>

</div>