{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Дворцовый стиль. Курсы по обучению фермерству в Санкт-Петербурге</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Компания Логунов и КО предлагает курсы фермеров и фермерского хозяйства. Консультации и услуги по организации фермерского хозяйства. Помощь в выборе правильного направления в бизнесе и увеличении прибыльным.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/farmer.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link rel="canonical" href="https://place-style.ru/pages/fermer.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>

</head>
<body>
{% include 'menu.html' %}

<div class="content">
    <div class="head_line">
        <p>Курсы фермеров</p>
    </div>
    <hr/>
    <div class="text">
        <div class="paragraph">
            <p>Предприятие ООО «Логунов и Компания» проводит консультационные услуги
                по организации фермерского хозяйства на основании личного опыта. Эти
                знания нужны начинающим фермерам, которые хотят переехать в деревню и
                вести там хозяйство и иметь с этого доход на свои нужды.</p>
        </div>
        <div class="paragraph">
            <p>Обучаем строению недорогих построек для скота и жильё для работников(гостевые
                домики).</p>
        </div>
        <div class="paragraph">
            <p>Главная цель курсов сделать ваше предприятие рентабельным,
                без убытков и лишних трат. Поможем выбрать правильное направление в
                бизнесе и сделать его наиболее прибыльным.</p>
        </div>
        <div class="paragraph">
            <p class=p_padding_t><span class="selection">Темы занятий</span></p>
            <div class="list">
                <ul>
                    <li><p>Выбор рода деятельности, расчёт рентабельности</p></li>
                    <li><p>Себестоимость и долговечность строений</p></li>
                    <li><p>Выбор животных, которые наибыстрейшим способом дают прибыль</p></li>
                    <li><p>Приобретение не дорогого инвентаря</p></li>
                    <li><p>Проблемы при ведении бизнеса, необходимое количество средств</p></li>
                    <li><p>Получение гранта, оформление необходимых документов</p></li>
                    <li><p>Природное земледелие. Урожай без пахоты земли</p></li>
                    <li><p>Выпас животных без пастуха. Бесплатные корма из природы</p></li>
                    <li><p>Свободный выпас, обустройство выгорожни</p></li>
                    <li><p>Болезни и лечение животных</p></li>
                </ul>
            </div>
        </div>
        <div class="paragraph">
            <p>Оказываем помощь в старте бизнеса. Учим работать самостоятельно
                сбывать продукцию частными заказчиками. Так же сотрудничаем со своими
                учениками и даём им заказы на сбыт продуктов.</p>
            <p>Помогаем с документами на получение гранта.</p>
        </div>
        <div class="paragraph">
            <p class="p_padding_l">Стоимость краткого курса - <span class="price">9 000 рублей 12 ак/часов</span></p>
            <p class="p_padding_l">Усиленный курс на получение гранта - <span
                    class="price">25 000 рублей 18 ак/часов</span></p>
            <p class="p_padding_l">Полный курс - <span class="price">39 000 рублей 40 ак/ часов</span></p>
        </div>
        <div class="paragraph">
            <p><span class="price">Заключить договор и ознакомиться с программой обучения можно в офисе компании</span>
            </p>
        </div>
        <hr>

        <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург, ул. Мясная, д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273, к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948,
                ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93 тел офиса: 495-30-54; с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
        </div>
    </div>
</div>
</div>

{% include 'footer.html' %}
</body>
</html>
