{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Дворцовый стиль. Курсы по обучению прорабов(руководству работ) в Санкт-Петербурге</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Компания Логунов и КО предлагает курсы прорабов (руководству работ) в городе Санкт-Петербург. Курс содержит материал, благодаря которому Вы научитесь руководить коллективом работников, правильно оформлять трудовые отношения.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/foreman.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link rel="canonical" href="https://place-style.ru/pages/foreman.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
</head>
<body>
{% include 'menu.html' %}

<div class="content">
    <div class="head_line">
        <p>Курсы прорабов</p>
    </div>
    <hr/>
    <div class="text">

        <div class="paragraph">
            <p class="p_padding_t"><span class="selection">Освоение работы руководителя работ</span></p>
        </div>
        <div class="paragraph">
            <p>Данные курс даёт возможность научиться руководить коллективом работников, правильно оформлять трудовые
                отношения и справедливо устанавливать размер заработной платы для сотрудников.
                Определять степень квалификации наёмных специалистов, которые задействованы при производстве работ.</p>
        </div>
        <div class="paragraph">
            <p>На данном курсе особое внимание документам, которые необходимо уметь составлять при работе с заказчиками
                работ. Правильное описания в договоре условий работ дают возможность
                выполнять строительство и ремонт помещений без ругани с заказчиками и своими работниками. Даётся полный
                пакет документов уже готовые к работе, которые нужно только заполнять.
                Фактически ни чего добавлять не нужно. При этом это не типовые договора взятые из интернета, а договора
                и сопутствующие документы которые прорабатывались на основе личной деятельности с учётом
                многочисленных трудностей, которые возникают при ведении работ.</p>
        </div>
        <div class="paragraph">
            <p>По завершению обучения каждый может стать партнёрами по бизнесу, а именно получать от нас заказы, а так
                же может работать в составе нашего предприятия.
                <span class="price">Усиленная практическая часть</span> позволяет быстро постичь ремесло.</p>
        </div>
        <div class="paragraph">
            <p class="p_padding_t"><span class="selection">Темы занятий</span></p>
            <div class="list">
                <ul>
                    <li><p>Документооборот. Все виды договоров: с заказчиком, предварительные договора, договор-
                        контракт с работником, договора с субподрядчиками и.т.д. Все виды Актов, уведомления</p></li>
                    <li><p>Юриспруденция конфликтные ситуации и способы их правового решения. Изучение раздела
                        гражданского кодекса применимого к строительным работам</p></li>
                    <li><p>Определение стоимости работ, основы ценообразование составление смет</p></li>
                    <ul>
                        <li><p>определение КТУ работника(коэффициент трудового участия)</p></li>
                        <li><p>возможные проблемы на объекте и способы их решения</p></li>
                        <li><p>как рассчитать стоимость нестандартных работ</p></li>
                    </ul>
                    <li><p>Расчёт количества материала и себестоимости изделия</p></li>
                    <li><p>Простейшие конструкции и их устройство. Технология работ</p></li>
                    <li><p>Термины в строительном деле, названия материала- мебельный щит, фасад, ДСП, ЦСП и.т.д., что
                        это такое и где применяется</p></li>
                    <li><p>Классификация работ по СНиПу, выбор правильного материала, расчёт нагрузок</p></li>
                    <li><p>Правила подбора материалов , дефектовка по внешнему виду</p></li>
                    <li><p>Внутреннее устройство дома, бани, квартиры</p></li>
                    <li><p>Инструменты и приспособления мастера при производстве работ</p></li>
                    <li><p>Как выбрать инструмент для работы по соотношению цена-качество</p></li>
                    <li><p>Заточка инструмента, ремонт инструмента, приспособы в строительстве</p></li>
                    <li><p>Встроенная мебель</p></li>
                    <li><p>Обработка древесины, окрас, антисептик. Как и где купить материал</p></li>
                    <li><p>Способы борьбы с гниением, просадкой и перекосов</p></li>
                </ul>
            </div>
        </div>
        <div class="paragraph">
            <p class="p_padding_l"><span class="tbold">Полное практическое обучение с преподавателем <span
                    class="price">40 ак/часов – 32 000руб</span></span></p>
            <p class="p_padding_l"><span class="tbold">Стоимость краткого обучения: <span class="price"> 20 ак/часов- 20 000</span></span>
            </p>
        </div>
        <div class="paragraph">
            <p>В стоимость обучения входит предоставление необходимых документов и разработанных в предприятии бланков,
                которые необходимы для ведения работ.</p>
            <p>В настоящее время по ведению объектов написано много книг, часть информации размещена в интернете.
                Попытка в точности воплотить на практике рекомендации авторов изданий без практических знаний, основ
                ведения объекта на конкретном примере ведёт в тупик.
                Это говорит о том, что пользоваться такими изданиями нельзя по причине того, что сделать, руководствуясь
                книгой или информацией в интернете – невозможно.</p>
        </div>
        <div class="paragraph">
            <p>По окончании обучения выдается свидетельство установленного образца.</p>
            <p>Занятия ведёт преподаватель <span class="tbold">Логунов Сергей Владимирович</span>.</p>
        </div>
        <hr>

        <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург, ул. Мясная, д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273, к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948,
                ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93 тел офиса: 495-30-54; с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
        </div>
    </div>
</div>
</div>

{% include 'footer.html' %}
</body>
</html>
