{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дворцовый стиль. Курсы по обучению каркасному строительству домов в Санкт-Петербурге</title>
    <meta name="description" content="Компания Логунов и КО предлагает курсы по каркасному строительство дома в городе Санкт-Петербург. Курс содержит только практическую часть. После прохождения курса Вы научитесь строить дом без посторонней помощи и непосредственно на месте реального строительства.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/home.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link rel="canonical" href="https://place-style.ru/pages/home.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
  </head>
  <body>
    {% include 'menu.html' %}

    <div class="content">
      <div class="head_line">
        <p>Курсы по каркасному строительству домов</p>
      </div>
      <hr />
      <div class="text">
        <div class="paragraph">
          <p class = p_padding_t> <span class = "selection">Обучение строительству малоэтажных строений</span> </p>
        </div>
        <div class="paragraph">
          <p>Обучение начинается с небольшой теории - 2 ак/часа, на которой обсуждаются практические
          занятия, а именно что и как будем строить на практике и какие темы
          нужно более всего охватить во время занятий, что даёт возможность
          быстрого получения знаний по каркасному, щитовому, засыпному
          домостроению. Основное преимущество данных курсов – вы научитесь
          строить дом без посторонней помощи и непосредственно на месте
          реального строительства – у тех, кто сам прошёл обучение на этих
          курсах и теперь может и строить и обучать тому, чему научился сам.
          Обучение - только практика.</p>
          <p>Желающим можно организовать занятие по заливке фундаментов, сборке
          деревянных опалубок, настил кровельного покрытия, строений из кирпича.
          Обучение данному ремеслу происходит так, как это нужно – не в классе
          за партой, а прямо на месте строительства домов. Так происходит
          овладение специальностью.</p>
          <p>В последствии Вы сможете построить себе красивый дом, с учётом
          современных требований. Всех можем научить чтению чертежей по всем
          видам деревянного домостроения. Обучающийся, в зависимости от
          выбранного объёма занятий, сможет как контролировать тех, кто будет
          строить ему дом, так и сам, в составе бригады сможет перейти к
          самостоятельному изготовлению простых и сложных строений малоэтажных
          домов. Мы специально взяли акцент на малоэтажное домостроение, так как
          жилищный вопрос – основная проблема всех людей.</p>
          <p><span class="price">Усиленная практическая часть</span> позволяет постичь основы домостроения и дать человеку
          уверенность в своих силах.</p>
        </div>
        <div class="paragraph">
          <p class = "p_padding_t"> <span class = "selection">По окончании курсов вы сможете:</span> </p>
        </div>
        <div class="paragraph">
          <p class="p_padding_l">В трое сократите стоимость строительства вашего дома по сравнению с
          тем, если бы вы заказали такое же в любой фирме. отличная возможность
          научиться строить себе жильё, не прибегая к помощи сомнительных
          компаний это может ваша новая профессия с отличным заработком.</p>
        </div>
        <div class="paragraph">
          <p class="p_padding_t">Темы занятий</p>
          <div class="list">
            <ul>
              <li><p>Введение. Определение тем, которые наиболее интересны для обучающегося</p></li>
              <li><p>Виды домостроения(каркасные дома, щитовые, дома из бруса, кирпичное домостроение, не съёмная опалупка) их достоинства и недостатки</p></li>
              <li><p>Инженерные аспекты микроклимата помещений Влажность. Метеопараметры воздуха в помещении . Тепловой режим зданий Расчёт теплового баланса</p></li>
              <li><p>Расчёт параметров домов</p></li>
              <li><p>Простейшее конструктивное устройство дома. Пристройки к домам, надстройки с переделыванием крыши. Термины в домостроении. Классификация домов</p></li>
              <li><p>Правила подбора материалов, дефектовка материала по внешнему виду</p></li>
              <li><p>Инструменты и приспособления для строительства каждого дома</p></li>
              <li><p>Правила техники безопасности при производстве работ, правила сборки готового изделия, эксплуатации (пожаробезопасность)</p></li>
              <li><p>Правила расположения отопления. Печи в интерьере, водяные системы отопления</p></li>
              <li><p>Практика по сборке стен, крыши. Обустройство полов и потолка, утепление</p></li>
              <li><p>Размещение комнат в доме. Отделка домов, выбор практичного материала</p></li>
              <li><p>Обработка древесины, окрас, антисептик, борьба с гниением, просадкой</p></li>
              <li><p>Устройство крыши, мансарды, балконы. Расчёт фундаментов. Винтовые сваи</p></li>
              <li><p>Расчёт размеров домов и соотношение крыши дома к размерам строения</p></li>
            </ul>
          </div>
        </div>
        <div class="paragraph">
          <p class="p_padding_l"> <span class="tbold">Время обучения с преподавателем - </span> <span class="price">40 академических часов</span></p>
          <p class="p_padding_l"> <span class="tbold">Стоимость обучения - </span> <span class="price">32 000 руб</span> </p>
          <p class="p_padding_l">Только практика по основам домостроения - <span class="price">40 000 руб</span> </p>
          <p class="p_padding_l">Одноразовый выезд на площадку на практические занятия на 2 дня - <span class="price">10 000 руб</span> </p>
          <p class="p_padding_l">Краткий курс 20 ак/часов с преподавателем по всем темам - <span class="price">20 000 руб</span> </p>
        </div>

          <div class="paragraph">
            <p>По окончании обучения выдается свидетельство  установленного образца.</p>
            <p>Занятия ведёт преподаватель <span class="tbold">Логунов Сергей Владимирович</span>.</p>
          </div>
          <hr>

          <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург,  ул. Мясная,  д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал   «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273,  к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948, ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93   тел офиса: 495-30-54;  с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
