{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Левкас</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/antiques.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %}/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>

</head>
<body>
{% include 'menu.html' %}

<div class="content">
    <div class="head_line">
        <p>Левкас</p>
    </div>
    <hr/>
    <div class="text">
        <p>
            Левкас – Это тончайший фарфор вашего дома. Вам приходилось слышать –
            стены как фарфор! А многие ли видели такое? И какие небылицы
            приходится слышать, а гениальное всё просто – это поверхность, которая
            покрыта шпаклёвкой Левкас. Натуральная олифа и растворённые в ней соли
            металлов составляют основу левкаса. Масло реагирует на кислороде и
            получается тончайшая плёнка, которая гладкая и блестит как фарфор. При
            прикосновении рукой пальцы скользят по поверхности как по фарфору. Вы
            на уровне подсознания хотите гладить и гладить такую поверхность и вам
            хочется иметь дома такую же поверхность. Это магия Левкаса! Левкас
            предназначен для нанесения на него красок. Им обрабатывают иконы,
            картины, стены храмов перед росписью. Но левкас не только для окраса.
            По такой поверхности удобно клеить обои и с левкаса легко обои снять,
            не повредив поверхность. По такой поверхности легко клеить обои
            особенно тогда, когда нужно совмещать сложный рисунок или декор. На
            левкасе обои легко ужать, а где нужно, то растянуть. Такое свойство
            шпаклёвки очень важно для качества работ и внешнего вида. Если
            случилась протечка, или как то вода попала на стены, то обои не
            отваливаются вместе со шпаклёвкой, а потолок не сыпется. Левкас – это
            магия красоты, экологичности. Левкас – материал на века.
        </p>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
