{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Дворцовый стиль. Курсы по обучению постройки печей в Санкт-Петербурге</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Компания Логунов и КО предлагает курсы по постройке печей в городе Санкт-Петербург. Обучение происходит на реальном объекте. Курс содержит материал о теории сборки как печей, так и дымоходов.">
    <link rel="stylesheet" type="text/css" href={% static 'css/menu.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/stove.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/pages.css' %} />
    <link rel="canonical" href="https://place-style.ru/pages/stove.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
  </head>
  <body>
    {% include 'menu.html' %}

    <div class="content">
      <div class="head_line">
        <p>Курсы печников</p>
      </div>
      <hr />
      <div class="text">
        <div class="paragraph">
          <p>Предприятие даёт возможность ученику собирать печи на реальном объекте
          загородного строительства.</p>
          <p>Ученик пройдет полный путь от теории до
         сборки печи, включая трубу дымохода. Только такое обучение является
         полным и ни чего подобно сделать ни в каком классе нельзя. На нашем
         объекте можно самостоятельно выложить печь и испытать её на предмет
         равномерного прогревания стенок печи и проверить время удержания тепла
         т.е. провести полное испытание своей печи на предмет: скорость
         нагрева; герметичность от дыма; работы технологических отверстий;
         объём и расположение топки; тяга печи.</p>
        </div>
        <div class="paragraph">
          <p>Ученик может одновременно собирать сразу две печи разной конструкции и
          каждую собрать включая трубу дымохода. Ученику предлагается самому
          выбрать форму практического обучения. Наиболее действенным является
          сбор печи на внутреннем объекте, где можно многократно собирать печь
          под ключ т.е. класть кирпичи без раствора в Санкт-Петербурге, а потом
          при желании и возможности поехать на загородное строительство на
          полноценную практику. Курсы направлены на освоение основ печного дела,
          а так же основ кирпичной кладки с учётом современных требований,
          призван научить чтению чертежей и порядовок кладки печей, создать
          предпосылки к самостоятельному проектированию и изготовлению печного и
          комбинированного водным систем отопления.</p>
        </div>
        <div class="paragraph">
          <p>По завершению обучения каждый может стать <span class="tbold">партнёром по бизнесу</span>, а именно получать от нас
          заказы на кладки печей и каминов. <span class="price">Усиленная практическая часть</span> без
          ограничения по времени без дополнительной оплаты.</p>
        </div>
        <div class="paragraph">
          <p class="p_padding_t"> <span class="selection">Темы занятий</span> </p>
          <div class="list">
            <ul>
              <li> <p>Печи: введение</p> </li>
              <li> <p>Основные законы теплотехники и физической химиии</p> </li>
              <li> <p>Приготовление различных растворов для кладки печи и для фундаментов</p> </li>
              <li> <p>Расчёт параметров печей, выбор назначения печи и расчёт габаритных размеров</p> </li>
              <li> <p>Простейшее конструктивное устройство печи</p> </li>
              <li> <p>Термины в печном деле</p> </li>
              <li> <p>Классификация печей</p> </li>
              <li> <p>Правила подбора материалов в печном деле, дефектовка кирпича на звук. Определение состава глины и песка</p> </li>
              <li> <p>Печные приборы</p> </li>
              <li> <p>Инструменты и приспособления печника</p> </li>
              <li> <p>Правила техники безопасности при кладки печи, испытании, эксплуатации (пожаробезопасность)</p> </li>
              <li> <p>Правила топки печи</p> </li>
              <li> <p>Чтение строительных чертежей с системами печного отопления (порядовок)</p> </li>
              <li> <p>Размещение печи в доме</p> </li>
              <li> <p>Футеровка топливников</p> </li>
              <li> <p>Способы борьбы с опрокидыванием вектора тяги</p> </li>
              <li> <p>Устройство каминов</p> </li>
              <li> <p>Отделка фасадов камина</p> </li>
              <li> <p>Вырез фигур из кирпича</p> </li>
            </ul>
          </div>
        </div>
        <div class="paragraph">
          <p class="p_padding_l"> <span class="tbold">Время обучения - </span> <span class="price">40 академических часов</span> занятий с преподавателем и
          мастером наставником</p>
          <p class="p_padding_l"> <span class="tbold">Стоимость обучения: </span> </p>
          <div class="list">
            <ul>
              <li> <p> <span class="price">800руб/час</span>  при загородном строительстве</p> </li>
              <li> <p> <span class="price">700руб/час</span>  в СПб кладка без раствора</p> </li>
            </ul>
          </div>
          <p class="p_padding_l"> Т.е. <span class="price">32 000 рублей</span> или <span class="price">28 000 рублей</span> за полный курс обучения </p>
        </div>
        <hr>

          <div class="contact_info">
            <p>Контактная информация</p>
            <p>Заключить договор и ознакомиться с программой обучения можно в офисе компании</p>
            <p>190121, Санкт-Петербург,  ул. Мясная,  д. 19/21, пом.18 Н.</p>
            <p>Санкт-Петербургский филиал   «Санкт-Петербургский» АО «АЛЬФА-БАНК»,</p>
            <p>р/с 40702810532130003273,  к/с 30101810600000000786, ИНН 7839348909, КПП 783901001, ОГРН 1079847023948, ОКАТО 40262561000, БИК 044030804</p>
            <p>Почта – logunov-i-ko77@mail.ru</p>
            <p>Сот.тел: 8-921-942-65-93   тел офиса: 495-30-54;  с 9-00 до 21- 00 без выходных</p>
            <p>Встреча в офисе после согласования времени по телефону</p>
          </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
